<a href="https://colab.research.google.com/github/Divyanshi082004/EduTrack/blob/main/LAB1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data={'Customer ID':[1,2,3,4,5], 'Gender':['M','F','M','M','F'], 'Age':[20,25,21,29,30], 'Anual Income':[500000,700000,200000,1000000,400000]}

In [ ]:
df=pd.DataFrame(data)
df

   Customer ID Gender  Age  Anual Income
0            1      M   20        500000
1            2      F   25        700000
2            3      M   21        200000
3            4      M   29       1000000
4            5      F   30        400000

In [ ]:
df.head(2)

   Customer ID Gender  Age  Anual Income
0            1      M   20        500000
1            2      F   25        700000

In [ ]:
df.tail(2)

   Customer ID Gender  Age  Anual Income
3            4      M   29       1000000
4            5      F   30        400000

In [ ]:
df.sample(2)

   Customer ID Gender  Age  Anual Income
3            4      M   29       1000000
4            5      F   30        400000

In [ ]:
df.shape

(5, 4)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Customer ID   5 non-null      int64
 1   Gender        5 non-null      object
 2   Age           5 non-null      int64
 3   Anual Income  5 non-null      int64
dtypes: int64(3), object(1)
memory usage: 292.0+ bytes

In [ ]:
df.describe()

       Customer ID        Age   Anual Income
count     5.000000   5.000000        5.00000
mean      3.000000  25.000000   560000.00000
std       1.581139   4.527693   304959.01364
min       1.000000  20.000000   200000.00000
25%       2.000000  21.000000   400000.00000
50%       3.000000  25.000000   500000.00000
75%       4.000000  29.000000   700000.00000
max       5.000000  30.000000  1000000.00000

In [ ]:
df.index=[1,2,3,4,5]
df

   Customer ID Gender  Age  Anual Income
1            1      M   20        500000
2            2      F   25        700000
3            3      M   21        200000
4            4      M   29       1000000
5            5      F   30        400000

In [ ]:
df.index[1]

np.int64(2)

In [ ]:
df.Gender

1    M
2    F
3    M
4    M
5    F
Name: Gender, dtype: object

In [ ]:
df['Customer ID']

1    1
2    2
3    3
4    4
5    5
Name: Customer ID, dtype: int64

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving BOOK1.xlsx to BOOK1.xlsx

# New Section

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving data.csv to data (1).csv

In [ ]:
df_uploaded = pd.read_csv('data (1).csv')
df_uploaded.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA